.header {
  width: 100%;
  border-bottom: 1px solid var(--color-text);
  padding: 0.5em 1em;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  padding: 0.5em 1em;
  border: 1px solid var(--color-text);
  border-radius: 5px;
  background-color: var(--color-background);
  cursor: pointer;
  min-width: 80px;

  &:hover {
    background-color: var(--color-hover);
  }

  &:active {
    background-color: var(--color-text);
    color: var(--color-background);
  }
}
